table {

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

label {
  color: white;
  margin-bottom: 5px;
  display: block;
}


input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}


select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}


button {
  padding: 10px 20px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


button:hover {
  background-color: limegreen;
}

